{% extends 'base.html' %}

{% block conteudo %}
    <h2>Cadastrar Funcionário</h2>
    <div class="cadastroFuncionario">
        <form method="post" id="formCadastroFuncionario" name="formCadastroFuncionario">
        {% csrf_token %}
        <label for="nomeFuncionario">Nome: </label>
        <input type="text" required="" maxlength="150" id="nomeFuncionario" name="nomeFuncionario">
        <label for="sobrenomeFuncionario">Sobrenome: </label>
        <input type="text" required="" maxlength="200" id="sobrenomeFuncionario" name="sobrenomeFuncionario"><br><br>
        <label for="dataNascimento">Data de nascimento: </label>
        <input type="date" required="" id="dataNascimentoFuncionario" name="dataNascimentoFuncionario">
        <label for="situacaoFuncionario">Situação: </label>
        <select id="situacaoFuncionario" name="situacaoFuncionario">
            {% for i in situacoes %}
                <option value= {{ i }}>{{ i }}</option>
            {% endfor %}
        </select><br><br>
        <label for="salariofixoFuncionario">Salário fixo: R$</label>
        <input type="number" step="100" id="salariofixoFuncionario" name="salariofixoFuncionario">
        <label for="cargoFuncionario">Cargo: </label>
        <input type="text" id="cargoFuncionario" name="cargoFuncionario"><br><br>
        <button type="button" onclick="$('#formCadastroFuncionario').submit()" id="enviarDadosFuncionario">Enviar</button>
    </form>
    </div>

    <h2>Funcionários</h2>
    <table>
        <th>ID</th>
        <th>Nome Completo</th>
        <th>Idade</th>
        <th>Situação</th>
        <th>Salário Fixo</th>
        <th>Cargo</th>
        <th>Editar</th>

        {% for i in lista_funcionarios %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.nome_completo }}</td>
                <td>{{ i.idade }}</td>
                <td>{{ i.situacao }}</td>
                <td>{{ i.salario_fixo }}</td>
                <td>{{ i.cargo }}</td>
                <td>
                    <button class="btn btn-dark">
                        <a href="{% url 'view_editar_funcionario' i.id %}">Editar</a>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h2>Salários totais do último mês</h2>
    <table>
        <th>ID</th>
        <th>Nome</th>
        <th>Data do pagamento</th>
        <th>Salário total</th>
        {% for i in lista_salarios_mensais %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.nome_completo }}</td>
                <td>{{ i.data_pagamento }}</td>
                <td>{{ i.salario_total }}</td>
            </tr>
        {% endfor %}
    </table>

    {% block javascript %}
        <script>
            $('#formCadastroFuncionario').on('submit', function (e){
                e.preventDefault();
                e.stopImmediatePropagation();
                nome = $('#nomeFuncionario').val();
                sobrenome = $('#sobrenomeFuncionario').val();

                date = new Date($('#dataNascimentoFuncionario').val());
                dia = date.getDate() + 1;
                mes = date.getMonth() + 1;
                ano = date.getFullYear();
                dataNascimento = [dia, mes, ano].join('/');

                situacao = $('#situacaoFuncionario').val();
                salarioFixo = $('#salariofixoFuncionario').val();
                cargo = $('#cargoFuncionario').val();

                $.ajax({
                    type: 'POST',
                    url: '{% url 'criar_funcionario' %}',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'nome': nome,
                        'sobrenome': sobrenome,
                        'dt_nascimento': dataNascimento,
                        'situacao': situacao,
                        'salario_fixo': salarioFixo,
                        'cargo': cargo,
                    },
                    dataType: 'json',
                    success: function (context){
                        location.reload();
                        //toastr.success(context.msg);
                    },
                    error: function (context){
                        toastr.error(context.msg)
                    }
                });
            });

        </script>

    {% endblock %}
{% endblock %}