{% extends 'base.html' %}

{% block conteudo %}
    <h2>Funcionários</h2>
    <table>
        <th>ID</th>
        <th>Nome Completo</th>
        <th>Idade</th>
        <th>Situação</th>
        <th>Salário Fixo</th>
        <th>Cargo</th>
        <th>Último Salário</th>

        {% for i in lista_funcionarios %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.nome_completo }}</td>
                <td>{{ i.idade }}</td>
                <td>{{ i.situacao }}</td>
                <td>{{ i.salario_fixo }}</td>
                <td>{{ i.cargo }}</td>
                <td>{{ i.ultimo_salario }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}