{% extends 'base.html' %}

{% block conteudo %}
    <h2>Lista de Produtos</h2>
    <table>
        <th>ID</th>
        <th>Nome</th>
        <th>Quantidade</th>
        <th>Grupo</th>
        <th>Subgrupo</th>

        {% for i in lista_produtos %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.nome }}</td>
                <td>{{ i.quantidade }}</td>
                <td>{{ i.grupo }}</td>
                <td>{{ i.subgrupo }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}