<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

    </style>
</head>
<body>
    {{ Titulo }}

    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'gerenciar_funcionarios' %}">Gerenciamento de Funcionários</a>
    <a href="{% url 'gerenciar_servicos' %}">Gerenciamento de Serviços</a>
    <a href="{% url 'gerenciar_produtos' %}">Gerenciamento de Produtos</a>

    <h2>Lista Horários</h2>
    <table>
        <th>ID</th>
        <th>Horário</th>
        {% for i in lista_horarios %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.horario }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>