{% extends 'base.html' %}

{% block conteudo %}
    <div class="container">
        <h2>Serviços de Hoje</h2>
        <table>
            <th>ID</th>
            <th>Funcionário</th>
            <th>Cliente</th>
            <th>Serviço</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Mês/Dia/Ano</th>
            <th>Tarefa realizada?</th>
            {% for i in lista_tarefas_agendadas %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.funcionario_nome }}</td>
                <td>{{ i.cliente_nome }}</td>
                <td>{{ i.servico_nome }}</td>
                <td>{{ i.horario_inicio }}</td>
                <td>{{ i.horario_fim }}</td>
                <td>{{ i.data }}</td>
                <td>
                    {% if i.realizado_checkbox == True %}
                        <input type="checkbox" id="checkboxRealizado" onclick="realizarTarefa({{ i.id }}, 'false')" checked="checked">
                    {% else %}
                        <input type="checkbox" id="checkboxRealizado" onclick="realizarTarefa({{ i.id }}, 'true')">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% comment %}
    <form method="post">
        {% csrf_token %}
        <label for="fname">Primeiro nome: </label>
        <input type="text" required="" maxlength="100" id="fname" name="fname"><br><br>
        <label for="lname">Sobrenome: </label>
        <input type="text" id="lname" name="lname"><br><br>
        <button type="submit">Enviar</button>
    </form>
    {% endcomment %}

    {% block javascript %}
    <!--
    <script>
        $(document).ready(function() {
            alert('Página carregada')
        });
    </script>
    -->
    <script>
        $('#fname').change(function (e) {
            e.stopImmediatePropagation();
            var nome = $(this).val();

            $.ajax({
                url: 'valida_nome',
                data: {
                    'nome': nome
                },
                dataType: 'json',
                success: function (context){
                    alert(context.nome);
                }
            })
        });

        function realizarTarefa(idTarefa, avaliacao){
            console.log(idTarefa)
            $.ajax({
                    type: 'POST',
                    url: '{% url 'avaliar_tarefa' %}',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'id_tarefa': idTarefa,
                        'avaliacao': avaliacao,
                    },
                    dataType: 'json',
                    success: function (context){
                        location.reload();
                        //toastr.success(context.msg);
                    },
                    error: function (context){
                        toastr.error(context.msg)
                    }
                });
        }
    </script>

    {% endblock %}
{% endblock %}
